<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktjr.ddgz.login">

    <application android:theme="@style/App.Base.Day.Theme">

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity android:name="com.ktjr.ddgz.login.ui.LoginActivity"/>
    </application>

</manifest>
